on: push
name: Deploy website on push
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.3.2
      with:
        server: ftp.scienceandstuff.com
        username: github@scienceandstuff.com
        password: ${{ secrets.FTP_PASSWORD }}
        protocol: ftps
        port: 21
